{# For God so loved the world, that He gave His only begotten Son, that all who believe in Him should not perish but have everlasting life #}

<div class="language_characters_hebrew_chirho">
    <div><span class="hebrew_letter_chirho">א</span><span class="sound_chirho">_</span><span class="letter_name_chirho">Aleph</span></div>
    <div><span class="hebrew_letter_chirho">ב</span><span class="sound_chirho">b,v</span><span class="letter_name_chirho">Bet</span></div>
    <div><span class="hebrew_letter_chirho">ג</span><span class="sound_chirho">g</span><span class="letter_name_chirho">Gimel</span></div>
    <div><span class="hebrew_letter_chirho">ד</span><span class="sound_chirho">d</span><span class="letter_name_chirho">Dalet</span></div>
    <div><span class="hebrew_letter_chirho">ה</span><span class="sound_chirho">h</span><span class="letter_name_chirho">He</span></div>
    <div><span class="hebrew_letter_chirho">ו</span><span class="sound_chirho">w</span><span class="letter_name_chirho">Vav</span></div>
    <div><span class="hebrew_letter_chirho">ז</span><span class="sound_chirho">z</span><span class="letter_name_chirho">Zayin</span></div>
    <div><span class="hebrew_letter_chirho">ח</span><span class="sound_chirho">jh</span><span class="letter_name_chirho">Het</span></div>
    <div><span class="hebrew_letter_chirho">ט</span><span class="sound_chirho">t</span><span class="letter_name_chirho">Tet</span></div>
    <div><span class="hebrew_letter_chirho">י</span><span class="sound_chirho">y</span><span class="letter_name_chirho">Yod</span></div>
    <div><span class="hebrew_letter_chirho">כ ך</span><span class="sound_chirho">k</span><span class="letter_name_chirho">Kaf</span></div>
    <div><span class="hebrew_letter_chirho">ל</span><span class="sound_chirho">l</span><span class="letter_name_chirho">Lamed</span></div>
    <div><span class="hebrew_letter_chirho">מ ם</span><span class="sound_chirho">m</span><span class="letter_name_chirho">Mem</span></div>
    <div><span class="hebrew_letter_chirho">נ ן</span><span class="sound_chirho">n</span><span class="letter_name_chirho">Nun</span></div>
    <div><span class="hebrew_letter_chirho">ס</span><span class="sound_chirho">s</span><span class="letter_name_chirho">Samekh</span></div>
    <div><span class="hebrew_letter_chirho">ע</span><span class="sound_chirho">_</span><span class="letter_name_chirho">Ayin</span></div>
    <div><span class="hebrew_letter_chirho">פ ף</span><span class="sound_chirho">p</span><span class="letter_name_chirho">Pe</span></div>
    <div><span class="hebrew_letter_chirho">צ ץ</span><span class="sound_chirho">ts</span><span class="letter_name_chirho">Tsade</span></div>
    <div><span class="hebrew_letter_chirho">ק</span><span class="sound_chirho">q</span><span class="letter_name_chirho">Qof</span></div>
    <div><span class="hebrew_letter_chirho">ר</span><span class="sound_chirho">r</span><span class="letter_name_chirho">Resh</span></div>
    <div><span class="hebrew_letter_chirho">ש</span><span class="sound_chirho">sh</span><span class="letter_name_chirho">Shin</span></div>
    <div><span class="hebrew_letter_chirho">ת</span><span class="sound_chirho">t</span><span class="letter_name_chirho">Tav</span></div>
</div>