{# For God so loved the world, that He gave His only begotten Son, that all who believe in Him should not perish but have everlasting life #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{{ original_name_chirho }} to {{ new_name_chirho }} Aleluya</title>
    <style>
        h3 {
            text-align: center;
            font-size: 3.5rem;
            margin-top: 3.5rem;
        }

        .verse_table_chirho {
            font-size: 3rem;
        }

        .verse_nt_chirho {
            font-size: 3rem;
        }

        .new_translation_words_chirho {
            color: #335588;
            font-weight: 200;
            font-style: italic;
            font-size: 2rem;
        }

        h1 {
            background: black;
            color: white;
            text-align: center;
            font-size: 4.2rem;
        }

        .verse_table_chirho {
            cursor: pointer;
        }

        .verse_table_chirho.selected_chirho {
            background: #335588;
            color: white;
        }

        .verse_table_chirho.selected_chirho .new_translation_words_chirho {
            color: white;
        }
    </style>
    <style>
        .language_characters_chirho span {
            display: inline-block;
            padding: 0;
            margin: .1rem;
            text-align: center;
        }

        .language_characters_chirho div {
            background: white;
            width: 15.4rem;
        }

        .language_characters_chirho div div {
            padding: 0;
            margin: 0;
        }

        .language_characters_hebrew_chirho span {
            line-height: 2.87rem;
        }

        .language_characters_hebrew_chirho div {
            height: 2.8rem;
        }

        .language_characters_greek_chirho div {
            height: 2.6rem;
        }

        span.hebrew_letter_chirho {
            font-size: 2.6rem;
            width: 4.6rem;
            margin-left: 2rem;
            text-align: center;
        }

        span.greek_letter_chirho {
            font-size: 2.4rem;
            width: 4.6rem;
            margin-left: 2rem;
            text-align: center;
        }

        span.sound_chirho {
            font-size: 2.1rem;
            width: 3.2rem;
            margin-left: .4rem;

            color: #335;
        }

        .letter_name_chirho {
            font-size: 1.2rem;
            line-height: 2.8rem;
            font-style: italic;
            color: #456;
        }
    </style>
</head>
<body>
<script>
    window.verse_table_ids_chirho = [];
    window.selected_table_id_chirho = null;
</script>
{% for translation_idx_chirho, translation_chirho in enumerate(translations_chirho) %}
    {% include "translation_chirho.jinja2" %}
{% endfor %}

<script>
    document.onkeydown = checkKey_chirho;

    function checkKey_chirho(e_chirho) {
        //thank you Jesus for ketan @ https://stackoverflow.com/a/9310900/16126689
        // and for Tim Down @ https://stackoverflow.com/a/3208034 
        e_chirho = e_chirho || window.event;

        if (e_chirho.keyCode == '38') {
            select_previous_verse_table_chirho()
            return false;
            // up arrow
        } else if (e_chirho.keyCode == '40') {
            select_next_verse_table_chirho();
            return false;

            // down arrow
        } else if (e_chirho.keyCode == '37') {
            //select_next_verse_table_chirho();
            // left arrow
        } else if (e_chirho.keyCode == '39') {
            //select_previous_verse_table_chirho()
            // right arrow
        }
    }

    function select_next_verse_table_chirho() {
        if (window.selected_table_id_chirho != null) {
            let next_table_id_chirho = window.verse_table_ids_chirho[window.verse_table_ids_chirho.indexOf(window.selected_table_id_chirho) + 1];
            if (next_table_id_chirho != null) {
                verse_table_select_chirho(next_table_id_chirho);
            }
        }

    }

    function select_previous_verse_table_chirho() {
        if (window.selected_table_id_chirho != null) {
            let previous_table_id_chirho = window.verse_table_ids_chirho[window.verse_table_ids_chirho.indexOf(window.selected_table_id_chirho) - 1];
            if (previous_table_id_chirho != null) {
                verse_table_select_chirho(previous_table_id_chirho);
            }
        }

    }

    function verse_table_select_chirho(verse_table_id_chirho) {
        let verse_tables_chirho = document.getElementsByClassName('verse_table_chirho');
        for (let i_chirho = 0; i_chirho < verse_tables_chirho.length; i_chirho++) {
            verse_tables_chirho[i_chirho].classList.remove('selected_chirho');
        }
        let verse_table_chirho = document.getElementById(verse_table_id_chirho);
        //verse_table_chirho.scrollIntoView(true);
        setTimeout(function () {
            window.scrollTo(0, verse_table_chirho.offsetTop - 300);

        }, 50);
        console.log(verse_table_chirho.offsetTop);

        verse_table_chirho.classList.toggle("selected_chirho");
        window.selected_table_id_chirho = verse_table_id_chirho;
    }

</script>
</body>
</html>