{# For God so loved the world, that He gave His only begotten Son, that all who believe in Him should not perish but have everlasting life #}
<div class="row verse_chirho mt-4 border shadow">
    <div class="col-12">
        <div class="row verse_str_chirho">
            <div class="col-12">
                <h3>{{ verse_chirho.verse_str_chirho }}</h3>
            </div>
        </div>
        <div class="row {{ verse_chirho.reverse_class_chirho }} verse_table_chirho">
            {% for table_idx_chirho, verse_table_chirho in enumerate(verse_chirho.verse_tables_chirho) %}
                {% include "verse_wordblock_chirho.jinja2" %}
            {% endfor %}
        </div>
        <div class="row verse_nt_chirho my-5">
            <div class="col-12">
                <em>{{ verse_chirho.new_chirho }}</em>
            </div>
        </div>
    </div>
</div>